In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from datetime import datetime as dt
import datetime

import code.get_mta_data as gmd
import code.process_mta_data as pmd
import code.analyze_mta_data as amd

In [2]:
mta = gmd.get_interem_ekand_v_0_1("ekand_clean_data_0.1.csv")
mta

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-24,00:00:00,REGULAR,1746398,4381262,2018-02-24
1,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-25,00:00:00,REGULAR,1746877,4383151,2018-02-25
2,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-26,00:00:00,REGULAR,1747139,4384308,2018-02-26
3,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-27,00:00:00,REGULAR,1748325,4387151,2018-02-27
4,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-28,00:00:00,REGULAR,1749568,4390275,2018-02-28
...,...,...,...,...,...,...,...,...,...,...,...,...
417385,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-20,00:00:00,REGULAR,639,0,2019-05-20
417386,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-21,00:00:00,REGULAR,639,0,2019-05-21
417387,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-22,00:00:00,REGULAR,639,0,2019-05-22
417388,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-23,00:00:00,REGULAR,639,0,2019-05-23
417389,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-24,00:00:00,REGULAR,639,0,2019-05-24

In [3]:
mta = mta.sort_values(['CA','UNIT','SCP','STATION','DATETIME'])

In [4]:
mta

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
24095,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-12,00:00:00,REGULAR,6545250,2216637,2018-03-12
24096,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-13,00:00:00,REGULAR,6546681,2217109,2018-03-13
24097,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-14,00:00:00,REGULAR,6548069,2217661,2018-03-14
24098,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-15,00:00:00,REGULAR,6549577,2218196,2018-03-15
24099,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-16,00:00:00,REGULAR,6551059,2218657,2018-03-16
...,...,...,...,...,...,...,...,...,...,...,...,...
234778,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-06,00:00:00,REGULAR,5554,369,2019-03-06
234779,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-07,00:00:00,REGULAR,5554,369,2019-03-07
234780,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-08,00:00:00,REGULAR,5554,369,2019-03-08
250724,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-09,00:00:00,REGULAR,5554,369,2019-03-09
250725,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-10,00:00:00,REGULAR,5554,369,2019-03-10

In [5]:
mta = pmd.add_ins_outs_to_df(mta)

In [6]:
mta = pmd.remove_outliers(mta)

In [7]:
mta

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME,INS,OUTS
24096,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-13,00:00:00,REGULAR,6546681,2217109,2018-03-13,1431.0,472.0
24097,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-14,00:00:00,REGULAR,6548069,2217661,2018-03-14,1388.0,552.0
24098,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-15,00:00:00,REGULAR,6549577,2218196,2018-03-15,1508.0,535.0
24099,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-16,00:00:00,REGULAR,6551059,2218657,2018-03-16,1482.0,461.0
39691,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-03-17,00:00:00,REGULAR,6552626,2219139,2018-03-17,1567.0,482.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234778,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-06,00:00:00,REGULAR,5554,369,2019-03-06,0.0,0.0
234779,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-07,00:00:00,REGULAR,5554,369,2019-03-07,0.0,0.0
234780,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-08,00:00:00,REGULAR,5554,369,2019-03-08,0.0,0.0
250724,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-09,00:00:00,REGULAR,5554,369,2019-03-09,0.0,0.0
250725,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,2019-03-10,00:00:00,REGULAR,5554,369,2019-03-10,0.0,0.0

In [8]:
mta.groupby(['STATION']).sum().sort_values('INS', ascending=False).head(20)

                      ENTRIES         EXITS         INS        OUTS
STATION
34 ST-PENN STA   279445007461  249035562181  15655431.0  14774649.0
34 ST-HERALD SQ  284781597841  259037681353  15371531.0  14356301.0
TIMES SQ-42 ST   585094149185  464437972902  13468851.0  12413701.0
GRD CNTRL-42 ST  125112197300  113400657095  11300850.0  10409988.0
23 ST            331892976035  428347045371  10856711.0   7740002.0
59 ST COLUMBUS   504645242828  442062651352  10261464.0   8421755.0
CHAMBERS ST      638552673319  392164886111   9167642.0   6748104.0
86 ST            151199158164   78283273344   9116655.0   7813892.0
59 ST             47183900389   29415199340   8562945.0   7224717.0
47-50 STS ROCK   341391189180  337904953636   7861838.0   7870560.0
ATL AV-BARCLAY   142280874808   41836676786   7481529.0   6303417.0
50 ST             30717145548   25927676883   7360485.0   5627362.0
FLUSHING-MAIN     27753910136   27128209406   7350620.0   6125445.0
42 ST-PORT AUTH  472473731922  348162329515   7302099.0   6145781.0
JKSN HT-ROOSVLT   21746127067   16185991568   6927835.0   5251230.0
14 ST            150787026620   79815444115   6375724.0   5072586.0
JAY ST-METROTEC   89477500375   12073912091   6328756.0   3981090.0
125 ST           213000159173  139174486775   6167286.0   5231530.0
LEXINGTON AV/53  351107585031  269759465748   5720413.0   5625471.0
42 ST-BRYANT PK  270502377379  195957998183   5251867.0   5048706.0