In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('./code')
import get_mta_data as gmd

In [8]:
mta = gmd.load_local_data([2018], [4, 5])

In [9]:
mta

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,00:00:00,REGULAR,6625470,2245312
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,04:00:00,REGULAR,6625494,2245314
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,08:00:00,REGULAR,6625514,2245338
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,12:00:00,REGULAR,6625595,2245415
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/19/2018,16:00:00,REGULAR,6625791,2245481
...,...,...,...,...,...,...,...,...,...,...,...
196983,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,05:00:00,REGULAR,2869725,385736
196984,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,09:00:00,REGULAR,2869735,385736
196985,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,13:00:00,REGULAR,2869816,385739
196986,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,17:00:00,REGULAR,2869949,385744
196987,TRAM2,R469,00-03-01,RIT-ROOSEVELT,R,RIT,04/06/2018,21:00:00,REGULAR,2870062,385749

In [10]:
mta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1577110 entries, 0 to 196987
Data columns (total 11 columns):
C/A                                                                     1577110 non-null object
UNIT                                                                    1577110 non-null object
SCP                                                                     1577110 non-null object
STATION                                                                 1577110 non-null object
LINENAME                                                                1577110 non-null object
DIVISION                                                                1577110 non-null object
DATE                                                                    1577110 non-null object
TIME                                                                    1577110 non-null object
DESC                                                                    1577110 non-null object
ENTRIES                                                                 1577110 non-null int64
EXITS                                                                   1577110 non-null int64
dtypes: int64(2), object(9)
memory usage: 144.4+ MB