In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates


import sys
import code.get_mta_data as gmd
import code.process_mta_data as pmd

# import datetime
from datetime import datetime as dt

Use data stored in data/interem/ekand_clean_data_0.1.csv

In [2]:
mta = gmd.get_interem_ekand_v_0_1('ekand_clean_data_0.1.csv')

In [3]:
mta

,Unnamed: 0,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,4594,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-24,00:00:00,REGULAR,1746398,4381262,2018-02-24
1,4600,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-25,00:00:00,REGULAR,1746877,4383151,2018-02-25
2,4606,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-26,00:00:00,REGULAR,1747139,4384308,2018-02-26
3,4612,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-27,00:00:00,REGULAR,1748325,4387151,2018-02-27
4,4618,A033,R170,02-00-00,14 ST-UNION SQ,LNQR456W,BMT,2018-02-28,00:00:00,REGULAR,1749568,4390275,2018-02-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
417385,5154155,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-20,00:00:00,REGULAR,639,0,2019-05-20
417386,5154161,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-21,00:00:00,REGULAR,639,0,2019-05-21
417387,5154167,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-22,00:00:00,REGULAR,639,0,2019-05-22
417388,5154173,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-23,00:00:00,REGULAR,639,0,2019-05-23
417389,5154179,S101A,R070,01-05-01,ST. GEORGE,1,SRT,2019-05-24,00:00:00,REGULAR,639,0,2019-05-24